.tagBox {
    width: calc(100vw - 1200px);
    margin: 5rem auto;
    padding: 2rem;
}

.tagSpan {
    display: inline-block;
    padding: 0 1rem;
    margin: 1rem 10px;
}

.tagInput {
    display: none;
}

.tagButton {
    all: unset;
}

.tagLabel, .tagButton {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #adb5bd;
    border-radius: 8rem;
    font-size: 1.75rem;
    line-height: 2rem;
    color: #495057;
    cursor: pointer;
}

.tagButton {
    background-color: #f5f5f5;
}

.tagTrue {
    display: flex;
    align-items: center;
    padding: 1rem 2rem;
    border: 1px solid #adb5bd;
    border-radius: 8rem;
    background-color: #F3FCF4;
    font-size: 1.75rem;
    line-height: 2rem;
    cursor: pointer;
}

.tagLabel:hover, .tagButton:hover {
    background-color: #F0F0F0;
}

.tagClose {
    text-align: center;
    margin-left: 10px;
}