.boxSection {
    height: 70vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.boxSection:first-of-type {
    background-color: #FFF5F5;
}

.boxSection:nth-of-type(2n) {
    background-color: #f5f5f5;
}

.boxSection:nth-of-type(3) {
    background-color: #F1FAFF;
}

.boxInfo {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.boxInfo:nth-of-type(2n-1) {
    margin-left: 30rem;
}

.boxInfo:nth-of-type(2n) {
    margin-right: 30rem;
}

.title {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 3.75rem; /* 6xl */
    line-height: 1;
}

.boxList {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 3rem;
}

.listItem {
    padding: 1rem 0;
    font-size: 2.25rem; /* 4xl */
    line-height: 2.5rem;
    color: #868e96;
}

.btnLink {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0.8rem;
    background-color: #29E23D;
    font-size: 1.875rem; /* 3xl */
    line-height: 2.25rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.btnLink:hover {
    background-color: #00CE27;
}

.iconArrow {
    margin-left: 10px;
}

.boxImg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: relative;
}

.boxImg:nth-of-type(2n-1) {
    margin-left: 30rem;
}

.boxImg:nth-of-type(2n) {
    margin-right: 30rem;
}

.imgOne {
    width: 600px;
}

.subImgOne {
    position: absolute;
    left: -150px;
    top: 5px;
}

.imgTwo, .imgFour {
    width: 800px;
}

.imgThree {
    width: 800px;
    height: 700px;
}