.boxDeptMap {
    width: 200px;
    height: 280px;
    box-sizing: border-box;
    border: 1px solid #dee2e6;
    border-radius: 0.4rem;
    box-shadow: #dee2e6 0px 4px 10px 0px;
    background-color: #ffffff;
    padding: 16px;
    overflow: scroll;
    position: absolute;
    z-index: 10;
}

.boxDeptItem {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 0;
}

.boxDeptItem:hover {
    background-color: #f5f5f5;
    transition: background-color 0.2s ease 0s;
}

.inputDeptItem {
    display: none;
}

.labelDeptItem {
    font-size: 1.5rem;
    line-height: 2rem;
    cursor: pointer;
}