.boxReviewList {
    width: calc(100vw - 1200px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.boxInput {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-right: 18rem;
    padding: 0.5rem;
    border: 1px solid #adb5bd;
    border-radius: 8rem;
    box-shadow: 9px 10px 9px 0px #dee2e6;
    -webkit-box-shadow: 9px 5px 9px 0px #dee2e6;
    -moz-box-shadow: 9px 10px 9px 0px #dee2e6;
}

.iconSearch {
    width: 10%;
    height: 50px;
    margin: 0;
    margin-right: 0.5rem;
}

.input {
    width: 80%;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
    padding: 1rem;
    border: none;
    font-size: 1.5rem; /* 2xl */
    line-height: 2rem;
}

.input:focus {
    outline: none;
}

.boxReview {
    width: calc(100vw - 1200px);
    margin: 0;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxReviewItem {
    width: 50%;
    padding: 3rem;
    margin: 0;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #343a40;
}

.boxInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.boxReviewInfo {
    width: 70%;
    padding: 0;
    padding-left: 1rem;
}

.title {
    margin: 0;
    margin-bottom: 3rem;
    font-size: 3rem; /* 5xl */
    line-height: 1;
}

.boxSubInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-bottom: 10px;
    color: #495057;
    font-size: 1.5rem; /* 2xl */
    line-height: 2rem;
    font-weight: 500;
}

.boxSubInfo:last-of-type {
    margin-bottom: 0;
}

.iconInfo {
    margin-right: 10px;
}

.boxStarInfo {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.875rem; /* 3xl */
    line-height: 2.25rem;
    font-weight: 400;
}

.iconStar {
    margin-bottom: 1rem;
}

.linkButton {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #29E23D;
    border: none;
    border-radius: 0.8rem;
    font-size: 1.5rem; /* 2xl */
    line-height: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.linkButton:hover {
    background-color: #00CE27;
}

.iconArrow {
    margin-left: 10px;
}

.boxNoReview {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem; /* 5xl */
    line-height: 1;
}