.boxHealthInfo {
    width: calc(100vw - 1200px);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.boxNoItem {
    width: calc(100vw - 1200px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.boxInfoItem {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 0;
    margin-bottom: 3rem;
    border-bottom: 1px solid #343a40;
}

.boxInfoTitle {
    margin: 0;
    margin-bottom: 3rem;
}

.infoTitle {
    font-size: 3rem; /* 5xl */
    line-height: 1;
    color: #29E23D;
    cursor: pointer;
}

.infoTitle:hover {
    text-decoration: underline;
}

.boxSubInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.boxWriter {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.58rem; /* 2xl */
    line-height: 2rem;
    font-weight: 600;
    color: #495057;
}

.iconPencil {
    margin-right: 10px;
}

.deptTag {
    width: fit-content;
    height: 30px;
    padding: 1rem 2rem;
    border: none;
    border-radius: 50px;
    background-color: #F5F5F5;
    font-size: 1.5rem;
    line-height: 1.75rem;
    font-weight: 700;
    color: #898989;
}