.boxDropDown {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

.buttonDropDown {
    all: unset;
    width: 160px;
    height: 60px;
    padding: 5px;
    margin-right: 2rem;
    background-color: #ebebeb;
    border: none;
    border-radius: 0.4rem;
    color: #495057;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.activeButton {
    all: unset;
    width: 160px;
    height: 60px;
    padding: 5px;
    margin-right: 2rem;
    background-color: #343a40;
    border: none;
    border-radius: 0.4rem;
    color: #fff;
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 600;
    text-align: center;
    cursor: pointer;
}

.buttonDropDown:hover {
    background-color: #ebebeb;
}

.activeButton:hover {
    background-color: #343a40;
}