.boxDropDown {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-bottom: 3rem;
    padding-left: 5rem;
}

.buttonDropDown {
    all: unset;
    width: 100px;
    height: 40px;
    padding: 1rem;
    margin-right: 1rem;
    text-align: center;
    background-color: #ebebeb;
    border: none;
    border-radius: 40px;
    color: #495057;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.activeButton {
    all: unset;
    width: 100px;
    height: 40px;
    padding: 1rem;
    margin-right: 1rem;
    text-align: center;
    background-color: #495057;
    border: none;
    border-radius: 40px;
    color: #fff;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.buttonDropDown:hover {
    background-color: silver;
}

.activeButton:hover {
    background-color: #343a40;
}