.boxView {
    width: calc(100vw - 1200px);
    margin: 0 auto;
    margin-bottom: 5rem;
    padding: 0 3rem;
}

.boxReply {
    display: flex;
    flex-direction: column;
}

.boxItem {
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
    padding-left: 1rem;
    margin-bottom: 2rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.boxIcon {
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1rem;
    margin-left: 5rem;
    background-color: #f8f9fa;
    border-radius: 50%;
    overflow: hidden;
}

.iconDoctor {
    width: 100%;
    height: 70%;
    color: #ff8787;
}

.boxInfo {

}

.writer {
    margin-bottom: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
}

.reply {
    font-size: 2.25rem;
    line-height: 2.5rem;
    color: #868e96;
}

.boxNoReply {
    padding-left: 5rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
}