.boxModal {
    width: 120px;
    padding: 1rem;
    border: none;
    border-radius: 0.6rem;
    box-shadow: -1px 1px 10px 1px #dee2e6;
    -webkit-box-shadow: -1px 1px 10px 1px #dee2e6;
    -moz-box-shadow: -1px 1px 10px 1px #dee2e6;
    background-color: #fff;
    position: absolute;
    bottom: -120px;
    right: 280px;
    z-index: 6;
}

.boxModal > div {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-left: 0;
    font-size: 1.5rem; /* 2xl */
    line-height: 2rem;
    font-weight: 400;
    cursor: pointer;
}

.boxModal > div:first-child {
    margin-bottom: 1rem;
}

.boxModal > div:hover {
    color: #29E23D;
}