.searchBox {
    width: calc(100vw - 1200px);
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.searchInputBox {
    width: 60%;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin: 0;
    margin-bottom: 5rem;
    padding: 2rem;
    border: 1px solid #adb5bd;
    border-radius: 8rem;
    box-shadow: 9px 10px 11px 0px #dee2e6;
    -webkit-box-shadow: 9px 10px 11px 0px #dee2e6;
    -moz-box-shadow: 9px 10px 11px 0px #dee2e6;
}

.searchIcon {
    margin: 1rem;
    font-size: 2.25rem; /* 4xl */
    line-height: 2.5rem;
}

.searchInput {
    margin: 0;
    box-sizing: border-box;
    padding: 1rem;
    border: none;
    font-size: 2.25rem; /* 4xl */
    line-height: 2.5rem;
}

.searchInput:focus {
    outline: none;
}

.searchButton {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 60px;
    border: none;
    border-radius: 0.5rem;
    background-color: #29E23D;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.searchButton:focus {
    background-color: #00CE27;
}