.boxTable {
    width: calc(100vw - 1800px);
    margin: 5rem auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border: 1px solid #343a40;
    border-radius: 0.8rem;
}

.boxDept {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    font-size: 1.75rem;
    line-height: 2rem;
    color: #495057;
    cursor: pointer;
}

.boxDept:hover {
    background-color: #F3FCF4;
    color: #29E23D;
    font-weight: 500;
}

.boxClickedDept {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem;
    background-color: #F3FCF4;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 500;
    color: #29E23D;
    cursor: pointer;
}

.deptIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.boxTable > div {
    border-top: none;
    border-right: 1px solid #343a40;
    border-bottom: 1px solid #343a40;
    border-left: none;
    overflow: hidden;
}

.boxTable > div:nth-child(4n) {
    border-right: none;
}

.boxTable > div:nth-child(n+13) {
    border-bottom: none;
}

.boxTable > div:first-child {
    border-top-left-radius: 0.8rem;
}

.boxTable > div:nth-child(4) {
    border-top-right-radius: 0.8rem;
}

.boxTable > div:nth-child(n+13) {
    border-bottom-left-radius: 0.8rem;
}

.boxTable > div:last-child {
    border-bottom-right-radius: 0.8rem;
}